node_modules
build
#.env
.idea
configuration/*
chaincodes/hyperledger
tools/network/0.local/docker/*
tools/network/1.dev/docker/*
#20181023 sally - package-lock.json file git commit
#package-lock.json
